<li class="layui-nav-item">
    <a href="javascript:;">青岛新生代续联接口</a>
    <dl class="layui-nav-child">
        @*<dd><a href="@Url.Content("~/Home/V_1FILE")">V_1FILE 需求名单上传(CSV文件)</a></dd>*@
        @*<dd><a href="@Url.Content("~/Home/V_1JSONTOFILE")">V_1JSONTOFILE 需求名单上传(JSON转文件)</a></dd>*@
        @*<dd><a href="@Url.Content("~/Home/V_2LIST")">V_2LIST 获取续联结果名单</a></dd>*@
        @*<dd><a href="@Url.Content("~/Home/V_3LOGIN")">V_3LOGIN 坐席登录接口</a></dd>*@
        <dd><a href="@Url.Content("~/Home/V_4LOGOUT")">V_4LOGOUT 坐席登出接口</a></dd>
        @*<dd><a href="@Url.Content("~/Home/V_5CALL")">V_5CALL 坐席外呼接口</a></dd>*@
        @*<dd><a href="@Url.Content("~/Home/V_5MD5CALL")">V_5MD5CALL 坐席外呼接口(自动MD5身份证)</a></dd>*@
        @*<dd><a href="@Url.Content("~/Home/V_6DPSQUERY")">V_6DPSQUERY 明细查询接口</a></dd>*@
        @*<dd><a href="@Url.Content("~/Home/V_7AUDIOQUERY")">V_7AUDIOQUERY 录音查询接口</a></dd>*@
        @*<dd><a href="@Url.Content("~/Home/V_8RECORDGET")">V_8RECORDGET 回呼明细查询接口</a></dd>*@
        @*<dd><a href="@Url.Content("~/Home/V_9DIALQUERY")">V_9DIALQUERY 坐席当日通时通次查询接口</a></dd>*@
        <dd><a href="@Url.Content("~/Home/V_10XLIST")">V_10XLIST 续联结果列表</a></dd>
        <dd><a href="@Url.Content("~/Home/V_11FILE")">V_11FILE 需求名单上传(Excel文件)</a></dd>
        <dd><a href="@Url.Content("~/Home/V_12LOGIN")">V_12LOGIN 坐席登录接口</a></dd>
        <dd><a href="@Url.Content("~/Home/V_13XP")">V_13XP 续联统计</a></dd>
        <dd><a href="@Url.Content("~/Home/V_13DPSP")">V_13DPSP 明细统计</a></dd>
    </dl>
</li>