<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="../layui/css/layui.css" rel="stylesheet" />
    <style>
        .layui-form-label {
            width: 150px;
        }

        .layui-input-block {
            margin-left: 180px;
        }
    </style>
</head>
<body>
    <div class="layui-header">
        <ul class="layui-nav layui-bg-green">
            <li class="layui-nav-item">
                <label>@ViewBag.Title</label>
            </li>
            @Html.Partial("~/Views/Home/P_NAV.cshtml")
        </ul>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            @ViewBag.Title
        </div>
        <div class="layui-card-header layuiadmin-card-header-auto">
            <form class="layui-form" lay-filter="defaultSearch">
                <div class="layui-form-item">
                    <label class="layui-form-label" title="企业编号">企业编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="entID" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="企业安全码">企业安全码</label>
                    <div class="layui-input-block">
                        <input type="text" name="entSecret" autocomplete="off" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="请求编号">请求编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="requestID" required lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input" value="@(m_cCmn.XxUUID)" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" title="二级机构编码">二级机构编码</label>
                    <div class="layui-input-block">
                        <select name="subId" required lay-verify="required" lay-verType="tips" autocomplete="off">
                            <option value="">请选择省份</option>
                            <option value="201">安徽省</option>
                            <option value="202">北京市</option>
                            <option value="203">福建省</option>
                            <option value="204">甘肃省</option>
                            <option value="205">广东省</option>
                            <option value="206">广西壮族自治区</option>
                            <option value="207">贵州省</option>
                            <option value="208">海南省</option>
                            <option value="209">河北省</option>
                            <option value="210">河南省</option>
                            <option value="211">黑龙江省</option>
                            <option value="212">湖北省</option>
                            <option value="213">湖南省</option>
                            <option value="214">吉林省</option>
                            <option value="215">江苏省</option>
                            <option value="216">江西省</option>
                            <option value="217">辽宁省</option>
                            <option value="218">内蒙古自治区</option>
                            <option value="219">宁夏回族自治区</option>
                            <option value="220">青海省</option>
                            <option value="221">山东省</option>
                            <option value="222">陕西省</option>
                            <option value="223">上海市</option>
                            <option value="224">四川省</option>
                            <option value="225">天津市</option>
                            <option value="226">西藏自治区</option>
                            <option value="227">新疆维吾尔自治区</option>
                            <option value="228">云南省</option>
                            <option value="229">浙江省</option>
                            <option value="230">重庆市</option>
                            <option value="231">山西省</option>
                            <option value="232">香港特别行政区</option>
                            <option value="233">澳门特别行政区</option>
                            <option value="234">台湾</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">选择</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="btnUpload">
                            <i class="layui-icon">&#xe67c;</i>Excel文件
                        </button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="btnSumit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <a href="~/file.xls" target="_blank" style="color:blue;text-decoration:underline">点击下载Excel模板</a>
                    </label>
                    <div class="layui-input-block">
                        <input type="text" readonly autocomplete="off" class="layui-input" style="color:blue;border:none;" value="说明：sno:数据唯一标识(数字,可不填);cid:身份证;username:坐席登录ID(可不填);Xm:姓名;Ywy:业务员" />
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <div class="layui-hide" id="defaultTable" lay-filter="defaultTable"></div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
    <script>
        layui.config({
            base: '@Url.Content("~/layui/modules/")'
        }).use(['element', 'form', 'table', 'layer', 'upload', 'core'], function () {
            var $ = layui.jquery,
                element = layui.element,
                core = layui.core,
                layer = layui.layer,
                form = layui.form,
                table = layui.table,
                upload = layui.upload;

            //上传文件
            upload.render({
                elem: '#btnUpload',
                url: "@Url.Content("~/home/F_11FILE")",
                title: '文件上传',
                accept: 'file',
                acceptMime: '.xls,.xlsx',
                exts: 'xls|xlsx',
                auto: false,
                bindAction: '#btnSumit',
                data: {
                    queryString: function () {
                        var entID = $('input[name=\'entID\']').val();
                        var entSecret = $('input[name=\'entSecret\']').val();
                        var requestID = $('input[name=\'requestID\']').val();
                        var subId = $('select[name=\'subId\']').val();
                        return JSON.stringify({
                            entID: entID,
                            entSecret: entSecret,
                            requestID: requestID,
                            subId: subId,
                            isSave: "1"
                        })
                    }
                },
                size: 1024 * 1024,
                before: function () {
                    top.layer.load(1, {
                        shade: [0.1, '#fff']
                    });
                },
                chooseAfter: function (e) {
                    $('#btnUpload').hasClass('layui-btn-danger') || $('#btnUpload').addClass('layui-btn-danger');
                    $('#btnUpload').html('<i class="layui-icon">&#xe67c;</i>已选择');
                },
                done: function (res, index, upload) {
                    top.layer.closeAll('loading');
                    if (res.status * 1 === 0) {
                        core.layInfo(res.msg);
                    } else {
                        core.layWarn(res.msg);
                    }
                    ///刷新请求ID
                    $('input[name=\'requestID\']').val(res.uuid);
                },
                error: function (index, upload) {
                    top.layer.closeAll('loading');
                    core.layErr('上传文件异常,请重新尝试');
                }
            });
        });
    </script>
</body>
</html>